.questions-page {
  min-height: 75vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  position: relative;
  background: linear-gradient(135deg, #f0f9ff, #cfeffd);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #064663;
  font-size: 2rem;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 50px;
}
.incorrect-mark {
  position: absolute;
  top: 10%;
}
.li {
  cursor: pointer;
  margin-bottom: 10px;
  padding: 15px 30px;
  border-radius: 15px;
  font-size: 1.1rem;
  background-color: #e8f6f3;
  color: #064663;
  transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.li:hover {
  background-color: #cde4e1;
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.selected {
  background-color: #82c9c2;
  color: white;
  font-weight: bold;
}

.correct {
  color: #4caf50;
}

.incorrect {
  color: #f44336;
}

button {
  margin-top: 20px;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

button.skip {
  background-color: #f0f9ff;
  color: #064663;
}

button.skip:hover {
  background-color: #d6e6f2;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

button.check {
  background-color: #064663;
  color: white;
}

button.check:hover {
  background-color: #052e40;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.question {
  font-size: 25px;
}

button.nextQuestion {
  background-color: #4caf50;
  color: white;
}

button.nextQuestion:hover {
  background-color: #3b9d40;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

p {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.1rem;
  color: #064663;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 50px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.cong {
  color: #4caf50;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 100px;
}

.showbtn{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.showResult{
  border: 3px solid green;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
}

.resultDiv{
  display: flex;
  justify-content: center;
}