.chat {
    min-height: 70vh;
    display: flex;
    align-items: center;
    & .container{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    & input{
        padding: 10px;
        border-radius: 5px 0 0 5px;
        outline: none;
    }
    & button {
        padding: 10px;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
    }
}