.footer {
  background: #f6f5f4;
  & .container {
    padding: 40px 10px;
    display: flex;
    flex-direction: column;
  }
  &-top-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &-blog {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      align-items: center;
      justify-content: center;
      padding-bottom: 20px;
      @media screen and (max-width: 440px) {
        gap: 10px;
      }
      & span {
        color: #757575;
        font-size: 14px;
        font-weight: 600;
      }
      &-item-link {
        @media screen and (max-width: 440px) {
          font-size: 12px;
        }
        text-transform: capitalize;
        color: #757575;
        font-size: 14px;
        font-weight: 600;
        &:hover {
          color: #000;
        }
      }
    }
  }
  &-bot-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    width: 95%;
    @media screen and (max-width: 480px) {
      flex-direction: column;
      gap: 10px;
    }
    &-icons {
      display: flex;
      align-items: center;
      gap: 10px;
      & img {
        transition: 0.3s;
        cursor: pointer;
        &:hover {
          transform: scale(1.2);
        }
      }
    }
    &-text {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #757575;
      font-size: 12px;
      font-weight: 600;
      &-p {
        text-decoration: underline;
      }
      @media screen and (max-width: 400px) {
        font-size: 10px;
      }

    }
  }
}
