.language {
  position: relative;
  padding: 100px 0;
  &-blocks {
    display: flex;
    gap: 40px;
  }
  &-block1 {
    max-width: 450px;
    width: 100%;
    & h2 {
      letter-spacing: -1px;
      color: #232323;
      font-weight: 900;
      font-size: 46px;
    }
    & h3 {
      background: linear-gradient(83deg, #2e90d1 0%, #78258d 100%);
      letter-spacing: -1px;
      background-clip: text;
      font-weight: 900;
      -webkit-background-clip: text;
      font-size: 46px;
      -webkit-text-fill-color: transparent;
      margin-bottom: 30px;
    }
    & p {
      font-weight: 500;
      font-size: 19px;
      line-height: 1.4;
      color: #585858;
      margin-bottom: 40px;

      & span {
        background: linear-gradient(135deg, #2e90d1 0%, #78258d 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
  &-block2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-card {
    max-width: 454px;
    width: 100%;
    padding: 20px 40px;
    & div {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }
    & .icon1 {
      background: #d2b6d9;
    }
    & .icon2 {
      background: #b9daf0;
    }
    & .icon3 {
      background: #ffefaa;
    }
    & .icon4 {
      background: #f6b5b6;
    }
    & .icon5 {
      background: #b9daf0;
    }
    & .icon6 {
      background: #d2b6d9;
    }
    & h3 {
      font-weight: 700;
      font-size: 24px;
      color: #232323;
      margin: 16px 0 10px 0;
    }
    & p {
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #585858;
    }
  }
}

.background-image {
  position: absolute;
  left: -5%;
  top: 18%;
}
