.header {
  & .container {
    display: flex;
    align-items: center;
    min-height: 780px;
    justify-content: space-between;
  }
  &-btn {
    width: 268px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: #78258d;
    line-height: 1.33333;
    color: #fff;
  }
  &__button {
    padding: 15px 25px;
    background: #78258d;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
    border: none;
  }
  &__text-blog {
    width: 50%;
    @media screen and (max-width: 500px) {
      width: 100%;
    }
    &-text {
      color: #2b788b;
      font-weight: 700;
      padding-bottom: 25px;
      letter-spacing: 3px;
      &2 {
        color: #757575;
        font-size: 18px;
        font-weight: 600;
        width: 80%;
        padding-bottom: 30px;
      }
    }
    &-title {
      color: #000;
      font-family: "gothic";
      font-size: 48px;
      line-height: 120%;
      letter-spacing: -2px;
      padding-bottom: 20px;
      width: 100%;
      @media screen and (max-width: 820px) {
        font-size: 30px;
        letter-spacing: 0px;
      }
      @media screen and (max-width: 420px) {
        font-size: 25px;
      }
    }
  }
  &__text-blog-info {
    display: flex;
    align-items: center;
    @media screen and (max-width: 550px) {
      flex-direction: column;
    }
    &-card1 {
      border-right: 1px solid #bbb;
      padding-right: 50px;
      @media screen and (max-width: 550px) {
        border: none;
      }
    }
    &-card2 {
      padding-left: 50px;
      @media screen and (max-width: 550px) {
        padding: 0;
      }
    }
    &-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      &-top {
        display: flex;
        align-items: center;
        &-text {
          color: #000;
          font-family: "gothic";
          font-size: 40px;
          font-weight: 400;
          padding-left: 5px;
        }
        &-plusicon {
          color: #2b788b;
          font-size: 40px;
          font-family: "gothic";
        }
      }
      .lightning-icon {
        color: #2b788b;
      }
      &-bot p {
        color: #585858;
        font-weight: 600;
        letter-spacing: -0.5px;
      }
    }
  }
  &__img-blog {
    position: absolute;
    right: 0;
  }
}

.header-btns {
  display: flex;
  align-items: center;
  gap: 30px;
}

.play-btn {
  display: flex;
  align-items: center;
  gap: 10px;

  & .icon {
    background: #ffefef;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  & p {
    font-weight: 500;
    color: #585858;
    letter-spacing: 0.02em;
  }
}
