.margin {
  height: 76px;
}

.signout{
  cursor: pointer;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 50px;
  width: 120px;
  border-radius: 8px;
  background: #efefff;
  color: #641f76;
  border: 1px solid #641f76;
}

.flex{
  display: flex;
  align-items: center;
  gap: 20px;
}

.modal-overlay{
  position: fixed;
  background: #00000024;
  z-index: 100000;
  height: 100vh;
  width: 100vw;
  top: 0;
}

.modal{
  position: fixed;
  z-index: 999999999;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 30px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  & span{
    font-size: 24px;
    text-align: center;
  }
  & .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    & button{
      height: 40px;
      padding: 0 20px;
      cursor: pointer;
      border-radius: 10px;
      border: none;
      font-size: 18px;
      background: #78258d;
      color: #fff;
      font-size: 16px;
    }
    & .cancel{
      background: #efefff;
      color: #78258d;
      border: 1px solid #78258d;
    }
  }
}
.nav {
  border-bottom: 1px solid #efefff;
  position: fixed;
  width: 100%;
  z-index: 11111;
  background: #fff;
  // overflow: hidden;
  min-height: 70px;
  margin-bottom: 100px;
  &.nav--green {
    background: #ffefd7;
    opacity: 1;
  }
  & .navContainer {
    display: flex;
    align-items: center;
    padding: 15px 10px;
    @media screen and (max-width: 550px) {
      flex-direction: column;
    }
    &.nav-con {
      padding: 7px 0;
    }
  }
  &__items {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item2 {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    &:hover .bottom-icon {
      color: #000;
    }
    &:hover .nav-dropdown {
      transform: translateY(0) scale(1);
      z-index: 1;
      opacity: 1;
    }
    .bottom-icon {
      color: #757575;
    }
    .nav-dropdown {
      display: flex;
      flex-direction: column;
      gap: 20px;
      background: #fff;
      border-radius: 14px;
      padding: 20px;
      box-shadow: 0 11px 11px 0 rgba(52, 41, 39, 0.04),
        0 11px 69px 0 rgba(52, 41, 39, 0.04),
        0 69px 69px 0 rgba(52, 41, 39, 0.04),
        0 92px 92px 0 rgba(52, 41, 39, 0.04),
        0 183px 183px 0 rgba(52, 41, 39, 0.12),
        0 343px 343px 0 rgba(52, 41, 39, 0.08);
      border: 1px solid rgb(176, 176, 176);
      position: absolute;
      top: 150%;
      left: -100%;
      transform: translateY(-200%) scale(0);
      opacity: 0;
      z-index: -1;
      transition: transform 0.4s, opacity 0.4s;
      &-block {
        display: flex;
        align-items: center;
        width: 215px;
        &-text {
          font-weight: 600;
          font-size: 16px;
          line-height: 100%;
          color: #828282;
          transition: 0.3s;
          cursor: pointer;
        }
        &-icon {
          color: #828282;
          transition: 0.3s;
        }
        &:hover .nav-dropdown-block-text {
          color: #000;
        }
        &:hover .nav-dropdown-block-icon {
          color: #000;
          transform: translateX(5px);
        }
      }
    }

    .nav__item2 .nav-dropdown {
      transform: translateY(0) scale(1);
      opacity: 1;
      z-index: 1;
    }
  }
  &__links {
    display: flex;
    align-items: center;
    gap: 30px;
    @media screen and (max-width: 550px) {
      flex-direction: column;
    }
  }
  & .logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    @media screen and (max-width: 768px) {
      padding: 0;
      border-right: none;
    }
  }
  &__link {
    color: #757575;
    text-transform: capitalize;
    font-weight: 600;
    &:hover {
      color: #000;
    }
  }
  &__login {
    display: flex;
    align-items: center;
    gap: 30px;
    &-name {
      display: flex;
      align-items: center;
      gap: 10px;

      &-img {
        color: #2b788b;
        background: #c3dce3;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
      }
      &-text {
        font-weight: 600;
        color: #757575;
      }
    }
  }
  &__signout {
    display: flex;
    align-items: center;
    gap: 5px;
    text-transform: capitalize;
    cursor: pointer;
    &:hover {
      color: #2b788b;
      text-decoration: underline;
    }
    &:hover &-text {
      color: #2b788b;
    }
    &-text {
      font-weight: 700;
      color: #000;
    }
  }
}
.signup-btn {
  outline: none;
  border: none;
  background: #2b788b;
  color: #fff;
  border-radius: 30px;
  width: 105px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 700;
  border: 2px solid #2b788b;
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    color: #2b788b;
    background: #fff;
  }
}

.bar {
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40px;
  height: 25px;
  cursor: pointer;
  transition: transform 0.3s ease;

  span {
    width: 30px;
    height: 3px;
    background-color: #333;
    border-radius: 5px;
    transition: all 0.3s ease;
  }

  &.open {
    span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 6px);
    }

    span:nth-child(2) {
      opacity: 0;
    }

    span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -6px);
    }
  }
}

.parent-div {
  display: flex;
  align-items: center;
  gap: 55px;
}

.sign {
  background: #78258d;
  width: 82px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.01em;
}

@media screen and (max-width: 768px) {
  .bar {
    display: flex;
  }

  .nav__items {
    position: absolute;
    border: 1px solid grey;
    padding: 10px 0;
    flex-direction: column;
    top: 75px;
    width: 100%;
    background: #fff;
    z-index: -1;
    transition: 0.3s;
    transform: scale(0) translateY(-240%);
    box-shadow: 0px 15px 20px grey;
    gap: 20px;
  }
}
.nav__links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.nav__items.active {
  z-index: 2;
  transform: scale(1) translateY(0);
}

.lang {
  position: absolute;
  top: 0;
  right: 0;
}

.lan {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background: white;
  padding: 10px 10px;
  border-radius: 12px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);
  width: 260px;
  font-size: 12px;
  height: 60px;
}

.lan-img {
  cursor: pointer;
}

.lan-img img {
  height: 40px;
  width: 40px;
}

.lan-dropdown {
  position: absolute;
  top: 120%;
  left: 0;
  border: 1px solid #bbb;
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lan-dropdown div {
  padding: 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  width: 100%;
  justify-content: center;
  transition: background 0.3s;
  height: 60px;
  & img {
    height: 50px;
  }
}

.lan-dropdown div:hover {
  background: #eceff1;
}

.lan-dropdown .selected {
  background: rgb(197, 197, 197);
  color: white;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
