.textbook {
  background: linear-gradient(135deg, #f6f5f4, #ffecec);
  padding: 40px 0;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fffae3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 1s ease-out;
}

@keyframes slideIn {
  from { transform: translateX(-100%); }
  to { transform: translateX(0); }
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 20px;
  & div{
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.nav-item {
  font-size: 18px;
  font-weight: bold;
  margin-right: 20px;
  color: #333;
  transition: color 0.3s, transform 0.3s;
  cursor: pointer;
}

.nav-item:hover {
  color: #ff5733;
  transform: scale(1.1);
}

.btn {
  background-color: #ffe0b2;
  border: none;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 20px;
  font-weight: bold;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:hover {
  background-color: #ffcc80;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.level-selector {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  flex-wrap: wrap;
  animation: fadeIn 1.5s ease-in-out;
}

.level-item {
  font-size: 16px;
  margin: 0 10px;
  font-family: "gothic";
  color: grey;
  cursor: pointer;
  padding: 8px 15px;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.level-item:hover {
  background-color: #ffe0e0;
  color: #ff5733;
  transform: scale(1.1);
}

.level-item.selected {
  background-color: #ff5733;
  color: #fff;
}

.word-card {
  display: flex;
  align-items: start;
  padding: 0 150px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-top: 20px;
  color: #000;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  flex-direction: column;
}

.word-content{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid grey;
  padding: 30px 0;
  width: 100%;
}

.word-card:hover {
  transform: translateY(-5px);
}

.word-image {
  width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
  animation: bounceIn 1s;
}

@keyframes bounceIn {
  from { transform: scale(0.9); opacity: 0.8; }
  to { transform: scale(1); opacity: 1; }
}

.pronunciation {
  font-size: 18px;
  color: #666;
  margin-top: 10px;
}

.compound-badge {
  background-color: #ffcc80;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 10px;
  display: inline-block;
  color: #fff;
  font-weight: bold;
  animation: fadeIn 1s ease-in-out;
}

.definition {
  font-size: 16px;
  margin-top: 10px;
  color: #444;
}

.example {
  font-size: 14px;
  margin-top: 10px;
  color: #555;
  font-style: italic;
}

.action-buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.add-to-learned {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.add-to-learned:hover {
  background-color: #218838;
}

.remove-from-dictionary {
  background-color: #dc3545;
  color: white;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-from-dictionary:hover {
  background-color: #c82333;
}
